#left_div
{
	width: 828px;
	background-color: white;
	float: left;
	margin-top: 15px;
	/*border: 1px solid rgb(230,230,230);*/
}
#inner_div
{
	width: 745px;
	position: relative;
	left: 40px;
}
body
{
	background: rgb(238,238,238);
	color: rgb(60,60,60);
}
img.my
{
	width: 100px;
	height: 100px;
}
#img_div,#word_div
{
	float: left;
	height:100px;
	margin-top:10px;
}
#img_div{width:100px;}
#word_div{margin-left:30px;}
.classify{width:600px;float:left;}
.item{height:45px;border: solid 1px rgb(230,230,230);border-top:none;width:698px;}
.version,.big,.star,.from{float:left;margin-top:14px;}
.version{margin-left:10px;width:250px;}
.big{margin-left:10px;width:160px;}
.star{margin-left:10px;width:120px;}
.from{margin-left:10px;}
button.choose
{
	float: left;
	height: 45px;
	width: 100px;
	border: none;
	border: solid 1px rgb(230,230,230);
	border-right: none;
	/*border-right: dotted 1px green;*/
	background-color: white;
}
#choose_div
{
	float: left;
	background-color: white;
	height: 45px;
	width: 700px;
	margin-top: 20px;
}
#intr_div
{
	float: left;
	width: 700px;
	margin-top: 10px;
}
#most_right
{
	height: 45px;
	width: 400px;
	border-right: solid 1px rgb(230,230,230);
}
#most_left
{
	border-top:solid 3px rgb(92,184,92);
}
p.suo{ text-indent: 2em; }
a.download:link,a.download:visited
{
	display: block;
	width: 100px;
	background-color: rgb(122,199,32);
	text-decoration: none;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	left: 70px;
	top: 130px;
	color: #ffffff;
}
a.download:hover,a.download:active{background-color: green;}
#up_div
{
	width: 700px;
	margin-top: 20px;
}
#img_div{margin-left: 0px;}
#title{font-size: 20px;}
#word_div1{margin-top: 10px;}
.one_comment
{
	width: 700px;
	border-bottom: solid 1px rgb(230,230,230);
	float: left;
}
.user_inf{width: 100px;height:120px;float: left;}
.comment_inf{width: 690px;float: left;font-size: 14px;margin-left:10px;}
.c_date{float:left;height:25px;margin-left:530px;width:160px;}
#up_comment,#up_up{width: 698px;height: 50px;border: solid 1px rgb(230,230,230);float:left;}
#up_up{margin-top:20px;}
#comment_text{position:relative;left:170px;}
#comment_search{position: relative;left: 170px;border:none;width: 70px;height: 22px; background-color: rgb(122,199,32);color: white;}
#tijiao_comment{position: relative;border:none;width: 70px;height: 22px; background-color: rgb(122,199,32);
	color: white;
}
#user_comment{font-family: "Microsoft YaHei";}
#inner_comment{float:left;margin-left:10px;margin-top:15px;}
#shang_panel
{
	width:342px;
	height: 30px;
	background: rgb(247,247,247);
	text-align:left;
	font-size: 15px;
	color: rgb(101,101,101);
}
.xia_panel
{
	float: left;
	background-color: rgb(255,255,255);
	border-top: 1px solid rgb(230,230,230);
	border-left: none;
	width: 342px;
	height: 140px;
}
#right_div
{
	float:left;
	margin-left: 15px;
	width: 342px;
}
.re_img{width: 100px;height: 100px;position: relative;left: 15px;top: 20px;}
#more{position:relative;left:290px;top:-30px;color:rgb(60,60,60);font-size: 13px;}
.re_img_div{float: left;width: 130px;height: 140px;}
.re_name_div{float: left;width: 150px;height: 140px;margin-top: 20px;}
.re_download{width: 100px;display: inline-block;text-decoration: none;background-color: rgb(122,199,32);
text-align: center;padding-top: 5px;padding-bottom: 5px;color: white;position: relative;top: 0px;}
.choose{cursor: hand;}
#page{float:left;text-align: center;width: 690px;}
#real_page{display: inline-block;}
.one_page{display: inline-block;width: 25px;height: 20px;text-decoration: none;
text-align: center;color: rgb(80,80,80);border: 1px solid rgb(210,210,210);margin-left: 5px;}
.blank{float:left;height: 40px;width: 690px;}