.one{float:left;width: 238px;height: 130px;border: dotted 1px rgb(137,137,137);}
.my{float: left;margin-top: 30px;margin-left: 15px;height: 60px;width: 60px;}
.inf{float: left;margin-left: 20px;margin-top: 15px;}
body{color: rgb(137,137,137);}
strong{color: rgb(80,80,80);}