<<<<<<< HEAD
.one{float:left;width: 238px;height: 130px;border: dotted 1px rgb(137,137,137);}
.my{float: left;margin-top: 15px;margin-left: 15px;height: 60px;width: 60px;}
.inf{float: left;margin-left: 20px;margin-top: 0px;}
body{color: rgb(137,137,137);}
strong{color: rgb(80,80,80);}
#page{text-align: center;float: left;}
.one_page{display: inline-block;width: 35px;height: 20px;text-decoration: none;
text-align: center;color: rgb(80,80,80);border: 1px solid rgb(210,210,210);position: relative;left: 400px;}
.updown{display: inline-block;width: 55px;height: 20px;text-decoration: none;text-align: center;
color: rgb(80,80,80);border: 1px solid rgb(210,210,210);position: relative;left: 400px;}
.blank{height: 40px;float: left;width: 1200px;}
.rank{width: 40px;height: 20px;position: relative;left:5px;}
=======
.one{float:left;width: 238px;height: 130px;border: dotted 1px rgb(137,137,137);}
.my{float: left;margin-top: 15px;margin-left: 15px;height: 60px;width: 60px;}
.inf{float: left;margin-left: 20px;margin-top: 0px;}
body{color: rgb(137,137,137);}
strong{color: rgb(80,80,80);}
#page{text-align: center;float: left;}
.one_page{display: inline-block;width: 35px;height: 20px;text-decoration: none;
text-align: center;color: rgb(80,80,80);border: 1px solid rgb(210,210,210);position: relative;left: 400px;}
.updown{display: inline-block;width: 55px;height: 20px;text-decoration: none;text-align: center;
color: rgb(80,80,80);border: 1px solid rgb(210,210,210);position: relative;left: 400px;}
.blank{height: 40px;float: left;width: 1200px;}
.rank{width: 40px;height: 20px;position: relative;left:5px;}
>>>>>>> G
.name{text-decoration: none;}