<html>
<head>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/first_css.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/introduce_css.css" />
     <script type="text/javascript" src="/static/js/introduce_js.js"></script>
</head>
<body>
<div id='container'>

	<div id='menu'>
	<ul>
		<li><img src="/static/images/first/icon.png" width="170" height="51"/></li>
		<li><a class='first' href="/">首页</a></li>
		<li><a class='first' href="" style='background:rgb(66,139,202)'>软件</a></li>
		<li><a class='first' href="/classify/">分类</a></li>
		<li><a class='first' href="/rank/">排行</a></li>
		<li><a class='first' href="/my/">我的</a></li>
		<li><a class='first' href="/today/">每日专题</a></li>
		<li>
			<div>
				<form action='/search_result/' onsubmit="return validate_form(this)" method='post'>
					{% csrf_token %}
					<input type='text' name='input' id='input_search'/>
					<input type='submit' value='搜索' id='input_submit'/>
				</form>
			</div>
		</li>
		<li>
			{% if log %}
			<a href="my/" id='my_button'>{{name}}</a>
			<a href="/logout/" id='logout_button'>退出</a>
			{% else %}
				<a href="/login/" id='login_button'>登录</a>
				<a href="/register/" id='register_button'>注册</a>
			{% endif %} 
		</li>
	</ul>
	</div>


    <div id='left_div'>
        <div id='inner_div'>
            <div id='up_div'>
                <div id='img_div'>
                    <img src="/static/images/app_images/wei_pin_hui/wei_pin_hui.png" class='my'><br><br><br>
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/greystar.png">
                </div>
                <div id='word_div1'>
                    <p id='title'><strong>唯品会</strong></p>
                    <p>版本：5.10</p>
                    <p>文件大小：37.00MB</p>
                </div>
                <div id='word_div2'>
                    <p>标签：购物</p>
                    <p>下载次数：675万</p>
                </div>

                <div id='word_div3'>
                    <a href="" class='download'>立即下载</a>
                </div>
            </div>

            <div id='choose_div'>
                <button onclick="chooseDiv(this,'graph')" class='choose' id='most_left'>应用截图</button>
                <button onclick="chooseDiv(this,'content')" class='choose'>内容介绍</button>
                <button onclick="chooseDiv(this,'comment')" class='choose'>累计评论</button>
                <button onclick="chooseDiv(this,'mycomment')" class='choose'>我来评论</button>
                <button id='most_right' class='choose'></button>
            </div>

            <div id='intr_div'>
                <div id='graph' class='show_div'>
                    <img src="/static/images/app_images/wei_pin_hui/1.jpg">
                    <img src="/static/images/app_images/wei_pin_hui/2.jpg">
                    <img src="/static/images/app_images/wei_pin_hui/3.jpg">
                    <img src="/static/images/app_images/wei_pin_hui/4.jpg">
                </div>

                <div style='display:none' id='content' class='show_div'>
                    <p class='suo'>唯品会，一家专门做特卖的网站，正品大牌一折起。数千名专业买手精选品牌商品，提供1折起的深度折扣，有了唯品会，从此再也不用担心买不起正品大牌啦！ </p>
                    <p>1、深度折扣 限时特卖 品类齐全 </p>
                    <p>每天早10点,晚8点上新品 </p>
                    <p>全场大牌深度折扣，1折起售，全网最低 </p>
                    <p>服饰、美妆、亲子、居家多种品类，满足您的一站式购物需求 </p>
                    <p>2、购物体验有保障 </p>
                    <p>支持货到付款，先看实物再给钱 </p>
                    <p>七天无条件退货，退货返还运费 </p>
                    <p>3、美国上市公司，百分百正品保障 </p>
                    <p>品牌直签授权，从根源杜绝假货 </p>
                    <p>全球最大特卖电商，市值超过百亿美元 </p>
                    <p>4、七成用户成为回头客 </p>
                    <p>每天帮助九千万会员节省数亿元，享受“尊贵不贵“ </p>
                    <p>超过70%的会员买了又买，日日约会 </p>
                    <p>立即下载，开启省钱之旅吧！</p>
                </div>

                <div style='display:none' id='comment' class='show_div'>
                    <div id='up_comment'>
                        <div id='inner_comment'>
                            <form>
                                <input name='radiobutton' type='radio' value='all' checked='checked'/>全部评价
                                <input name='radiobutton' type='radio' value='good'/>五星好评
                                <input name='radiobutton' type='radio' value='bad'/>差评
                                {% csrf_token %}
                                <input type='text' id='comment_text'>
                                <input type='submit' value='搜索评论' id='comment_search'/>
                            </form>
                        </div>
                    </div>
                    <div class='one_comment'>
                        <div class='user_inf'>
                            <img class='user_img' src="/static/images/user_images/1.png">
                            <div  class='user_name'><p>小迪迪</p></div>
                            <p class='pub_date'>2015-7-8</p>
                        </div>
                        <div class='comment_inf'>
                            <div class='comment_star'>
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                            </div>
                            <p class='main_comment'>界面很美观，而且上面的东西都是正品，真的比在商场里卖的便宜多了，特别实惠界面很美观，而且上面的东西都是正品，真的比在商场里卖的便宜多了，特别实惠界面很美观，而且上面的东西都是正品，真的比在商场里卖的便宜多了，特别实惠界面很美观，而且上面的东西都是正品，真的比在商场里卖的便宜多了，特别实惠界面很美观，而且上面的东西都是正品，真的比在商场里卖的便宜多了，特别实惠界面很美观，而且上面的东西都是正品，真的比在商场</p>
                        </div>
                    </div>

                    <div class='one_comment'>
                        <div class='user_inf'>
                            <img class='user_img' src="/static/images/user_images/2.png">
                            <div class='user_name'><p>大迪迪</p></div>
                            <p class='pub_date'>2015-9-10</p>
                        </div>
                        <div class='comment_inf'>
                            <div class='comment_star'>
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/greystar.png">
                            </div>
                            <p class='main_comment'>界面很美观，而且上面的东西都是正品，真的比在商场里卖的便宜多了，特别实惠</p>
                        </div>
                    </div>

                    <div class='one_comment'>
                        <div class='user_inf'>
                            <img class='user_img' src="/static/images/user_images/3.png">
                            <div class='user_name'><p>学弟</p></div>
                            <p class='pub_date'>2015-11-2</p>
                        </div>
                        <div class='comment_inf'>
                            <div class='comment_star'>
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/yellowstar.png">
                                <img src="/static/images/app_images/greystar.png">
                                <img src="/static/images/app_images/greystar.png">
                                <img src="/static/images/app_images/greystar.png">
                            </div>
                            <p class='main_comment'>一点都不好用！各种bug</p>
                        </div>
                    </div>
                    <br><br>

                </div>

                <div style='display:none' id='mycomment' class='show_div'>
                    <form>
                        <textarea rows="4" cols="50" style='color:grey' id='user_comment'>最多输入200字</textarea><br><br>
                        <input type='submit' value='发表评论' id='tijiao_comment'>
                    </form>
                </div>
                <br><br><br>
            </div>
           
        <br><br><br>
        </div>
    </div>

    <div id='right_div' >
        <div id='shang_panel'>
            <p style='position:relative;left:10px;top:5px;'>同类推荐</p>
            <a href="" id='more'>更多</a>
        </div>
        <div class='xia_panel' id='xia_panel1' onmouseover="mover(this,'re1')" onmouseout="mout(this,'re1')">
            <div class='re_img_div'>
                <img src="/static/images/app_images/tao_bao/tao_bao.png" class='re_img'>
            </div>
            <div class='re_name_div'>
                <p class='re_name'><strong>淘宝</strong></p>
                <div class='re_star'>
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/yellowstar.png">
                    <img src="/static/images/app_images/greystar.png">
                    <img src="/static/images/app_images/greystar.png">
                </div>
                <a href="" class='re_download' id='re1' style='display:none;'>立即下载</a>
            </div>
        </div>
        <div class='xia_panel' id='xia_panel2' onmouseover="mover(this,'re2')" onmouseout="mout(this,'re2')">
            <div class='re_img_div'>
                <img src="/static/images/app_images/tian_mao/tian_mao.png" class='re_img'>
            </div>
            <div class='re_name_div'>
                <p class='re_name'><strong>天猫</strong></p>
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <a href="" class='re_download' id='re2' style='display:none;'>立即下载</a>
            </div>
        </div>
        <div class='xia_panel' id='xia_panel3' onmouseover="mover(this,'re3')" onmouseout="mout(this,'re3')">
            <div class='re_img_div'>
                <img src="/static/images/app_images/jing_dong/jing_dong.png" class='re_img'>
            </div>
            <div class='re_name_div'>
                <p class='re_name'><strong>京东</strong></p>
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/greystar.png">
                <a href="" class='re_download' id='re3' style='display:none;'>立即下载</a>
            </div>
        </div>
        <div class='xia_panel' id='xia_panel3' onmouseover="mover(this,'re4')" onmouseout="mout(this,'re4')">
            <div class='re_img_div'>
                <img src="/static/images/app_images/mei_li_shuo/mei_li_shuo.png" class='re_img'>
            </div>
            <div class='re_name_div'>
                <p class='re_name'><strong>美丽说</strong></p>
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/greystar.png">
                <a href="" class='re_download' id='re4' style='display:none;'>立即下载</a>
            </div>
        </div>
        <div class='xia_panel' id='xia_panel4' onmouseover="mover(this,'re5')" onmouseout="mout(this,'re5')">
            <div class='re_img_div'>
                <img src="/static/images/app_images/ju_hua_suan/ju_hua_suan.png" class='re_img'>
            </div>
            <div class='re_name_div'>
                <p class='re_name'><strong>聚划算</strong></p>
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <img src="/static/images/app_images/yellowstar.png">
                <a href="" class='re_download' id='re5' style='display:none;'>立即下载</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>