<html>
	<h1>更改密码</h1>
	<body>
		<form action='' method='post'>
			{% csrf_token %}
			请输入当前密码:<input type='password' name='nowmima'>
			<br>
			请输入新密码:<input type='password' name='mima1'>
			<br>
			确认密码:<input type='password' name='mima2'>
			<br>
			<input type='submit' value='更改密码'>
		<form/>
		
		{% if correct %}
		{% else %}
			<p>当前密码不正确</p>	
		{% endif %}

		{% if success %}
			<p>密码更改成功!</p>	
			<a href="/login/">去登录</a>
		{% endif %}

		{% if same %}
		{% else %}
			<p>两次输入的密码不一致！</p>
		{% endif %}

	</body>
</html>