<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/first_css.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/login_css.css" />
</head>
<script language="javascript"> 
function validate_form2()
{
    var name = document.getElementById("name").value;
    var mima = document.getElementById("mima1").value;
    if(name == "") {
    alert("用户名不能为空");
    return false;
    }
    if(mima == "" ) {
    alert("密码不能为空");
    return false;
    }
    return true;
}
 </script>
<body  onload=slide() onResize="Resize()">
<div id='container'>
	<div id='content' style='height:560px;position:relative;top:-40px;'>
        <div id='img_div'>
            <a href="/"><img src="/static/images/first/2.jpg"></a>
        </div>

        <div id='panel'>
        <div id='up_panel'>
            <p>登录</p>
            <a href="/" style='position:relative;left:250px;top:-40px;color:white;'>首页</a>
        </div>
        {% if not correct %}
        <p> 登录失败 </p> </br>
        {% endif %}
        <div id='down_panel'>
        <form action='/login/' onsubmit="return validate_form2(this)" method='post'>
            {% csrf_token %}
            <br><br>
            <label style='position:relative;left:20px;'>用户名</label>
            <input type='text' class='mytxt' onFocus="onFocusFun(this,'one')" onblur='onblurFun(this)' style="left:30px;" id='name' name='name'>
            <label id='one' style="color:red;left:62px;"></label>
            <br>

            <br>
            <label style='position:relative;left:33px;'>密码</label>
            <input type='password' class='mytxt' onFocus="onFocusFun(this,'one')" onblur='onblurFun(this)' style="left:44px;" id='mima' name='mima'>
            <label id='one' style="color:red;left:62px;"></label>
            <br>

            <!--<br>
            <label style='position:relative;left:20px;'>验证码</label>
            <input type='password' class='mytxt' onFocus="onFocusFun(this,'one')" onblur='onblurFun(this)' style="left:30px;width:100px;" name='mima'>
            <img src="/static/images/verify/1.png" style="position:relative;left:30px;top:10px;width:60px;height:30px;">
            <label id='one' style="color:red;left:62px;"></label>
            <br>-->

            <br>
            <a href="http://www.baidu.com" style='position:relative;left:50px;'>忘记密码?</a>
            <a href="/register/" style='position:relative;left:170px;'>注册</a><br><br>
            <input style='position:relative;left:136px;' type='submit' id='submit_button' value='登录' onmouseover='down_changeColor1(this)' onmouseout='down_changeColor2(this)'>

        <form/>
        </div>
        </div>

    </div>
    
</div>
</body>
</html>
